output
build
config.h
Debug
Release
*.opensdf
*.sdf
*.sln
*.suo
*.user
ipch
.gdbinit
log.txt
log.*.txt

wowhead-downloader/curl-config.txt

wowfoot-import/*.db
wowfoot-import/query.sql

wowfoot-*/testedUrls.*
wowfoot-*/urlsToTest.*
wowfoot-*/dump.html
wowfoot-*/comment_source.txt
wowfoot-*/config.rb
wowfoot-*/**/config.rb
