
<STYLE type="text/css">
	div.rootComment { border-width: 1; border:solid; margin-left: 0 }
	div.indentedComment { border-width: 1; border:solid; margin-left: 1em }
</STYLE>

<p>Comments:</p>
<% @comments.each do |c| %>
<p>
<!-- <%= c[:originalBody] %> -->
<%= indentHtml(c[:indent]) %>
<%= c[:user]+' '+c[:date]+' Rating: '+c[:rating].to_s+' Indent: '+c[:indent].to_s %><br>
<%= c[:body] %>
</p>
<% end %>
<%= indentEndHtml %>
