
<p>Comments:</p>
<% @comments.each do |c| %>
<!-- <%= c[:originalBody] %> -->
<%= indentHtml(c[:indent]) %>
<%= c[:user]+' '+c[:date]+' Rating: '+c[:rating].to_s+' Indent: '+c[:indent].to_s %><br>
<p>
<%= c[:body] %>
</p>
<% end %>
<%= indentEndHtml %>
