
<SCRIPT type="text/javascript">
function map_onclick(e) {
	document.getElementById("map").style.width = "80%";//document.getElementById("mapImage").width + "px";
}
function my_onload() {
	document.getElementById("map").onclick = map_onclick;
}
window.onload = my_onload;
</SCRIPT>
