<%
i = id[1].to_i
a = WORLD_MAP_AREA[i]
if(a)
	title = AREA_TABLE[i][:name]
else
	title = i
end
%>
<html>
<head>
	<title><%= title %> - Zone - WowFoot</title>
</head>
<body>

<p>Zone:</p>

<p>
<%=
if(a)
	a.inspect
else
	"Area #{i.inspect} not found"
end
%>
</p>

<p>
<%=
at = AREA_TABLE[i]
if(at)
	at.inspect
else
	''
end
%>
</p>

<p>
<%=
if(a)
	"<img id=\"map\" width=\"40%\" src=\"output/#{a[:name]}.jpeg\">"
else
	''
end
%>
</p>

<%= rhtml 'mapSize' %>

</body>
</html>
