<%
def sortAreas
	arr = []
	WORLD_MAP_AREA.each_pair do |id, hash|
		arr << {:id => id, :name => AREA_TABLE[id][:name]}
	end
	return arr.sort {|a,b| a[:name] <=> b[:name] }
end

areas = sortAreas
%>
<p>Areas:</p>

<p><table><tr><td>ID</td><td>Name</td></tr>

<% areas.each {|a| %>
	<%= "<tr><td>#{a[:id]}</td><td><a href=\"area=#{a[:id]}\">#{a[:name]}</a></td></tr>" %>
<% } %>

</table></p>

</body>
</html>
