<%
@id = id[1]
run 'npc.rb'
%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title><%= @template[:name] %> - NPC - WowFoot</title>
	<LINK href="static/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<p>NPC:</p>

<p>
<%= @template.inspect %>
</p>

<%= rhtml 'spawnPoints' %>

<%= rhtml 'comments' %>

</body>
</html>
