<%
@id = id[1]
run 'npc.rb'
%>

<html>
<head>
	<title><%= @template[:name] %> - NPC - WowFoot</title>
</head>
<body>

<p>NPC:</p>

<p>
<%= @template.inspect %>
</p>

<%= rhtml 'spawnPoints' %>

</body>
</html>
