<%
@id = id[1]
run 'object.rb'
%>

<html>
<head>
	<title><%= @template[:name] %> - Object - WowFoot</title>
</head>
<body>

<p>Object:</p>

<p>
<%= @template.inspect %>
</p>

<%= rhtml 'spawnPoints' %>

</body>
</html>
