<html>
<body>

<%
@id = id[1]
run 'quest.rb'

if(@mainArea)
	map = "#{AREA_TABLE[@mainArea][:name]}<br>\n"
else
	map = ''
end
if(@mapImageName)
	map += "<img width=\"100%\" src=\"output/#{@mapImageName}.jpeg\">\n"
else
	map += "No map available.<br>\n"
	if(@coords && @coords[0])
		row = @coords[0]
		mapId = row[:map]
		x, y = row[:position_x].to_i, row[:position_y].to_i
		map += "Map #{mapId} (#{MAP[mapId]}), [#{x}][#{y}]<br>\n"
	end
end
%>

<p>Quest: <%= @template[:title] %></p>

<!--<p>
<%= @template.inspect %>
</p>-->

<p>
Giver:<br>
<% @givers.each do |g| %>
<%= "<a href=\"npc=#{g[:id]}\">#{g[:name]}</a><br>" %>
<% end %>
</p>

<%= '<!--' if(!@targets) %>
<p>
Target:<br>
<%= @targets %>
</p>
<%= '-->' if(!@targets) %>

<p>
Finisher:<br>
<% @finishers.each do |g| %>
<%= "<a href=\"npc=#{g[:id]}\">#{g[:name]}</a><br>" %>
<% end %>
</p>

<p>Description:<br>
<%= @template[:details] %>
</p>

<p>Objectives:<br>
<%= @template[:objectives] %>
</p>

<p>In progress:<br>
<%= @template[:requestItemsText] %>
</p>

<p>offerRewardText:<br>
<%= @template[:offerRewardText] %>
</p>

<p>completedText:<br>
<%= @template[:completedText] %>
</p>


<STYLE type="text/css">
	div { position:relative; }	/* Enables absolute positioning relative to div tags. */
	#map { width:40% }	/* Enables use of percentages inside. */
	img.coord { position:absolute; }
</STYLE>

<div id="map">
<%= map %>
<% if(false)#@zones[@mainArea])
@zones[@mainArea].each do |pos| %>
<%= "<img class=\"coord\" src=\"static/circle.png\" style=\"left: #{pos[:y]*100}%; top: #{pos[:x]*100}%;\">" %>
<% end
end %>
</div>

</body>
</html>
