<html>
<body>

<STYLE type="text/css">
	TABLE { border-collapse: collapse; }
	td { border-spacing: 1; border: solid; }
</STYLE>

<%
@id = id
run 'search.rb'

def questArea(row)
	z = row[:ZoneOrSort]
	return '' if(!z)
	a = AREA_TABLE[row[:ZoneOrSort]]
	return '' if(!a)
	return "<a href=\"area=#{z}\">#{a[:name]}</a>"
end
%>

<p>Search results for: 
<%=
id[1]
%>
</p>

<p>
<%= @zones.size %>
Zones:</p>
<table><tr><td>ID</td><td>Name</td></tr>

<% @zones.each do |id, name| %>
<%= "<tr><td>id</td>"+
"<td><a href=\"area=#{id}\">#{name}</a></td></tr>" %>
<% end %>
</table>

<p>
<%= @quests.size %>
Quests:</p>
<table><tr><td>ID</td><td>Zone</td><td>MinLevel</td><td>QuestLevel</td><td>Title</td></tr>

<% @quests.each do |row| %>
<%= "<tr><td>#{row[:entry]}</td>"+
"<td>#{questArea(row)}</td>"+
"<td>#{row[:MinLevel]}</td>"+
"<td>#{row[:QuestLevel]}</td><td>#{row[:title]}</td></tr>" %>
<% end %>
</table>

<p>
<%= @creatures.size %>
Creatures:</p>
<table><tr><td>ID</td><td>MinLevel</td><td>MaxLevel</td><td>Rank</td><td>Name</td><td>Title</td></tr>

<% @creatures.each do |row| %>
<%= "<tr><td>#{row[:entry]}</td>"+
"<td>#{row[:minlevel]}</td>"+
"<td>#{row[:maxlevel]}</td>"+
"<td>#{row[:rank]}</td>"+
"<td>#{row[:name]}</td><td>#{row[:subname]}</td></tr>" %>
<% end %>

</body>
</html>
