<html>
<body>

<STYLE type="text/css">
	TABLE { border-collapse: collapse; display: none; }
	td { border-spacing: 1; border: solid; }
</STYLE>

<%
@id = id
run 'search.rb'

def questArea(row)
	z = row[:ZoneOrSort]
	return '' if(!z)
	a = AREA_TABLE[row[:ZoneOrSort]]
	return '' if(!a)
	return "<a href=\"area=#{z}\">#{a[:name]}</a>"
end
%>

<p>Search results for: 
<%=
id[1]
%>
</p>

<!-- Tab-table :) -->
<table id="tabs"><tr>
<td><a href="#" id="zone"><%= @zones.size %> Zones</a></td>
<td><a href="#" id="quest"><%= @quests.size %> Quests</a></td>
<td><a href="#" id="npc"><%= @creatures.size %> NPCs</a></td>
<td><a href="#" id="item"><%= @items.size %> Items</a></td>
<td><a href="#" id="gobject"><%= @gobjects.size %> Objects</a></td>
</tr></table>

<table id="zoneTable"><tr><td>ID</td><td>Name</td></tr>
<% @zones.each do |id, name| %>
<%= "<tr><td>#{id}</td>"+
"<td><a href=\"area=#{id}\">#{name}</a></td></tr>" %>
<% end %>
</table>

<table id="questTable"><tr><td>ID</td><td>Zone</td><td>MinLevel</td><td>QuestLevel</td><td>Title</td></tr>
<% @quests.each do |row| %>
<%= "<tr><td>#{row[:entry]}</td>"+
"<td>#{questArea(row)}</td>"+
"<td>#{row[:MinLevel]}</td>"+
"<td>#{row[:QuestLevel]}</td>"+
"<td><a href=\"quest=#{row[:entry]}\">#{row[:title]}</a></td></tr>" %>
<% end %>
</table>

<table id="npcTable"><tr><td>ID</td><td>MinLevel</td><td>MaxLevel</td><td>Rank</td><td>Name</td><td>Title</td></tr>
<% @creatures.each do |row| %>
<%= "<tr><td>#{row[:entry]}</td>"+
"<td>#{row[:minlevel]}</td>"+
"<td>#{row[:maxlevel]}</td>"+
"<td>#{row[:rank]}</td>"+
"<td><a href=\"npc=#{row[:entry]}\">#{row[:name]}</a></td>"+
"<td>#{row[:subname]}</td></tr>" %>
<% end %>
</table>

<table id="itemTable"><tr><td>ID</td><td>Class</td><td>Subclass</td><td>Quality</td><td>Name</td><td>Sell price (copper)</td></tr>
<% @items.each do |row| %>
<%= "<tr><td>#{row[:entry]}</td>"+
"<td>#{row[:class]}</td>"+
"<td>#{row[:subclass]}</td>"+
"<td>#{row[:quality]}</td>"+
"<td><a href=\"item=#{row[:entry]}\">#{row[:name]}</a></td>"+
"<td>#{row[:sellprice]}</td></tr>" %>
<% end %>
</table>

<table id="gobjectTable"><tr><td>ID</td><td>Type</td><td>Name</td><td>Script</td></tr>
<% @gobjects.each do |row| %>
<%= "<tr><td>#{row[:entry]}</td>"+
"<td>#{row[:type]}</td>"+
"<td><a href=\"object=#{row[:entry]}\">#{row[:name]}</a></td>"+
"<td>#{row[:ScriptName]}</td></tr>" %>
<% end %>
</table>

<SCRIPT type="text/javascript">
function tab_onclick(e) {
	activateTab(e.target);
}
function activateTab(target) {
	document.getElementById(currentTab + "Table").style.display = "none";
	document.getElementById(target.id + "Table").style.display = "block";
	document.getElementById(currentTab).style.fontWeight = "normal";
	document.getElementById(currentTab).style.fontSize = "medium";
	target.style.fontWeight = "bold";
	target.style.fontSize = "x-large";
	currentTab = target.id;
}
function my_onload() {
	currentTab = "npc"
	activateTab(document.getElementById(currentTab))

	document.getElementById("tabs").style.display = "block";
	
	document.getElementById("quest").onclick = tab_onclick;
	document.getElementById("zone").onclick = tab_onclick;
	document.getElementById("npc").onclick = tab_onclick;
	document.getElementById("item").onclick = tab_onclick;
	document.getElementById("gobject").onclick = tab_onclick;
}
window.onload = my_onload;
</SCRIPT>

</body>
</html>
