/* tables */
TABLE.tabs { border-collapse: collapse; display: none; }
td { border-spacing: 1px; border: solid; border-color: gray; }

TABLE.tab { border-collapse: collapse; }
div.tab { display: none; }

/* comments */
div.rootComment { border-width: 1px; border:solid; margin-left: 0 }
div.indentedComment { border-width: 1px; border:solid; margin-left: 1em }

/* new comments */
div.comments-wrapper { background: gray; padding:6px 2px 6px 2px; }
div.comment-wrapper { background-color:#202020; padding:6px 6px 0 6px; }
div.comment {color:#ddd;padding:6px 6px 6px 6px;border-radius:6px;  background-color:#404040;}
span.comment-user { color:#ffC040 }
span.comment-rating { font-weight:bold; float:right; }

/* map */
div { position:relative; }	/* Enables absolute positioning relative to div tags. */
#map { width:40% }	/* Enables use of percentages inside. */
div.coord { position:absolute; }

/*img.oiDefault { position:absolute; width:auto; height:auto; clip:rect(32px,32px,64px,0px); top:-48px; left:-16px; }*/
/* half size */
img.oiDefault { position:absolute; width:128px; height:32px; clip:rect(16px,16px,32px,0px); top:-24px; left:-8px; }

/* item */
BODY {
	color:white; background-color:#202020;
	font-family:Arial,sans-serif;
	font-size:small;
}
A { color:#00c0ff; text-decoration:none; }
A:visited { color:#0080ff; }
A:hover { text-decoration:underline; }

span.green { color:#1eff00; }
span.itemName { font-size:medium; font-weight:bold; }
span.itemDescription { color:#ffC040 }
