/* tables */
TABLE.tabs { border-collapse: collapse; display: none; }
td { border-spacing: 1px; border: solid; border-color: gray; }

.hidden { display: none; }

td.effect { white-space: nowrap; }
td.reagents { white-space: nowrap; }
td.skill { white-space: nowrap; }

TABLE.tab { border-collapse: collapse; }
div.tab { display: none; }

/* comments */
div.rootComment { border-width: 1px; border:solid; margin-left: 0 }
div.indentedComment { border-width: 1px; border:solid; margin-left: 1em }

/* new comments */
div.comments-wrapper { background: gray; padding:6px 2px 6px 2px; }
div.comment-wrapper { background-color:#202020; padding:6px 6px 0 6px; }
div.comment {color:#ddd;padding:6px 6px 6px 6px;border-radius:6px;  background-color:#404040;}
span.comment-user { color:#ffC040 }
span.comment-rating { font-weight:bold; float:right; }

/* map */
div { position:relative; }	/* Enables absolute positioning relative to div tags. */
#map { width:40% }	/* Enables use of percentages inside. */
div.coord { position:absolute; }

/*img.oiDefault { position:absolute; width:auto; height:auto; clip:rect(32px,32px,64px,0px); top:-48px; left:-16px; }*/
/* half size */
/*img.oiDefault { position:absolute; width:128px; height:32px; clip:rect(16px,16px,32px,0px); top:-24px; left:-8px; }*/
/* spawn points */
img.oiDefault { position:absolute; width:64px; height:64px; clip:rect(0px,16px,16px,0px); /*top:0px; left:0px;*/ }
img.oiRed { position:absolute; width:64px; height:64px; clip:rect(0px,32px,16px,16px); top:0px; left:-16px; }
img.oiYellow { position:absolute; width:64px; height:64px; clip:rect(0px,16px,16px,0px); top:0px; left:0px; }
img.oiBlue { position:absolute; width:64px; height:64px; clip:rect(16px,16px,32px,0px); top:-16px; left:0px; }
img.oiGreen { position:absolute; width:64px; height:64px; clip:rect(0px,48px,16px,32px); top:0px; left:-32px; }

/* item */
BODY {
	color:white; background-color:#202020;
	font-family:Arial,sans-serif;
	font-size:small;
}
A { color:#00c0ff; text-decoration:none; }
A:visited { color:#0080ff; }
A:hover { text-decoration:underline; cursor:pointer; }

.green { color:#1eff00; }
.itemName { font-size:medium; font-weight:bold; }
.itemDescription { color:#ffC040 }
.underlined { text-decoration:underline; }

.skillRed { color:#ff4040; }
.skillYellow { color:yellow; }
.skillGreen { color:#1eff00; }
.skillGray { color:#808080; }

.small { font-size:x-small; }

.quote { background-color:#202020; padding:6px 6px 6px 6px; }
.code { background-color:#202020; padding:6px 6px 6px 6px; font-family:Courier New,fixed; }

span.q2 { color:#1eff00; }
span.r2 { color:#FF0; }



.sortable {width:980px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 auto 15px}
.sortable th {background:url(images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.sortable th h3 {font-size:10px; padding:6px 8px 8px}
.sortable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sortable .head h3 {background:url(images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background:url(images/header-selected-bg.gif)}
.sortable .desc h3 {background:url(images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ecf2f6}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}
